<div class="container-view page">
    <div class="page_box">Book Details</div>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group class="title-group">
              <div class="one">
                <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">

              </div>
              <div class=" two">
                <mat-card-title>
                  <strong>
                    {{ selectedBook.title }}
                  </strong>
                </mat-card-title>
                <div class="row">
                  <div class="col1">
                    <mat-card-title><span>478</span></mat-card-title>
                    <mat-card-subtitle>Pages</mat-card-subtitle>
                  </div>
                  <div class="col2">
                    <mat-card-title><span>20h</span></mat-card-title>
                    <mat-card-subtitle>To read</mat-card-subtitle>
                  </div>
                </div>
              </div>
  
              <div class=" three">
                <!-- <button mat-raised-button  (click)="openDeleteConfirmationDialog(book)" color="warn">Delete</button> -->

                <button mat-raised-button  (click)="(book)" color="warn">Delete</button>
                <button mat-raised-button  (click)="EditBook(book)" color="primary">Edit</button>
                
              </div>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="row">
            <div class="col1">
              <mat-card-subtitle>By {{ selectedBook.author }} | {{ selectedBook.releaseDate | date:'dd/MM/y' }}</mat-card-subtitle>
              <mat-card-subtitle style="color: blue;" ><strong>${{ selectedBook.price }}</strong></mat-card-subtitle>
              <mat-card-subtitle>isbn: {{ selectedBook.isbn }}</mat-card-subtitle>
              <mat-card-subtitle>Version: {{ selectedBook.version }}</mat-card-subtitle>
              <mat-card-subtitle>{{ selectedBook.category }}</mat-card-subtitle>
            </div>
            <div class="col2">
              <mat-card-title>
                <strong style="color: black;">
                 Brief
                </strong>
              </mat-card-title>
              <br>
              <mat-card-subtitle>{{ selectedBook.describtion }}</mat-card-subtitle>
            </div>
          </mat-card-content>
        </mat-card>
      </div>





