.save-btn {
    margin-right: 20px;
    border-radius: 5px;
    border: solid 1.3px #a8a8a8;
    background-color: #94db8c;
  }
  
  .cancel-btn {
    border-radius: 5px;
    border: solid 1.3px #a8a8a8;
    background-color: #f2bfee;
  }